.btn{
    min-height: 35px;
    min-width: 120px;

    padding: 0px 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    border-radius: 28px;
    box-shadow: var(--second-shadow);
    transition: background-color 0.3s ease, color 0.3s ease;

    font-size: 14px;
    font-weight: 400;

    &.icon_padding{
        padding-right: 3px;
        justify-content: space-between;
    }

    .circle{
        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: var(--second-shadow);
        border-radius: 50%;

        background-color: var(--light-accent-color);
        transition: color 0.3s ease;

        .icon{
            transition: color 0.3s ease;
        }
    }
}


.icon_btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 2.5rem;
    padding: 0px;
    border-radius: 50%;
    padding: 3px;
    box-sizing: border-box;

    // Візуал
    background-color: transparent;
    box-shadow: var(--second-shadow);
    transition: background-color 0.3s ease;

    // GPU-оптимізація
    will-change: transform;
    transform: translateZ(0);

    .circle{
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 5px;

        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--light-accent-color);
    }

    .icon {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;

        color: var(--text-color);
        transition: color 0.3s ease;
        transform: scale(1)
    }
}

.primary{
    color: var(--light-accent-color);
    background-color: var(--accent-color);

    .icon{
        color: var(--accent-text-color);
    }

    &:hover{
        color: var(--text-color);
        background-color: var(--light-accent-color);

        .icon{
            color: var(--text-color);
        }
    }
}


.secondary{
    color: var(--text-color);
    background-color: var(--light-accent-color);

    .icon{
        color: var(--text-color);
    }
    
    &:hover{
        color: var(--light-accent-color);
        background-color: var(--accent-color);

        .icon{
            color: var(--accent-text-color);
        }
    }
}

.transparent{
    background-color: transparent;

    min-width: unset;
    box-shadow: none;
    border: none;

    .circle{
        background-color: transparent;

        padding: 4px;
    }

    .icon{
        color: var(--text-color);
    }

    &:hover{
        background-color: rgba($color: #000000, $alpha: 0.05);
    }
}

.disabled{
    background-color: rgba($color: #000000, $alpha: 0.2);
    color: rgba($color: #000000, $alpha: 0.2);

    &:hover{
        background-color: rgba($color: #000000, $alpha: 0.2);
        color: rgba($color: #000000, $alpha: 0.2);
    }

    .circle {
        box-shadow: none;
        background-color: transparent;

        .icon {
            color: rgba($color: #000000, $alpha: 0.2);
        }
    }
}


.active {
    &.secondary{
        color: var(--light-accent-color);
        background-color: var(--accent-color);
    
        .icon{
            color: var(--accent-text-color);
        }
    
        &:hover{
            color: var(--text-color);
            background-color: var(--light-accent-color);
    
            .icon{
                color: var(--text-color);
            }
        }
    }
    
    
    &.primary{
        color: var(--text-color);
        background-color: var(--light-accent-color);
    
        .icon{
            color: var(--text-color);
        }
        
        &:hover{
            color: var(--light-accent-color);
            background-color: var(--accent-color);
    
            .icon{
                color: var(--accent-text-color);
            }
        }
    }
}