

.field{
  height: 40px;

  padding: 4px 40px 4px 12px;
  background-color: var(--light-accent-color);
  border-radius: 16px;
  box-shadow: var(--second-shadow);
  
  border: none;
  outline: none;
}